{{#each list}}
  <div class="list-itm col s12" id={{this.id}}>
    <div class="col s4">
      <i class="fa fa-4x fa-{{this.icon}}"></i>
      <b class="list-title"> {{this.title}}</b>
    </div>

    <div class="col s4">
      <h4>{{this.description}}</h4>
    </div>

    <div class="col s4">
    <h4>{{this.type}}</h4>
    </div>
  </div>
{{/each}}